html, body {
	width: 100%; 
	height: 100%; 
	background-color: #fff;
}

#map {
	width: 100%;
	height: 100%
}

#commentsWindow {
	width: 250px;
	height: 350px;
	position: absolute;
	border: 1ps solid black;
	background: #ffffff;

}

.show {
	z-index: 3000;
}

#comments {
	height: 60px;
	background-color: #ffffff;
	overflow: auto; 
	list-style-type: none;
}

.addCommentBlock > input,
.addCommentBlock > label,
.addCommentBlock > button
{
	display: block;
}